html {
    margin: auto;
    text-align: center;
}

ul { 
    max-width: 350px; 
    text-align: center;
    margin: auto;
}

#btn-save { 
    margin: 1.7em 0 1em 0;
}

#github-link {
    margin-top: -0.7em;
}

h1 {
    color: #51585e;
}

